# <font face = "微软雅黑" color = blue size = 6>实验名称</font>

## numpy的基本操作

# <font face = "微软雅黑" color = blue size = 6>实验目的</font>

## 通过该实验的实践，要求学生掌握不同维度组数据的表现形式，熟悉ndarray的属性和基本操作，能够使用numpy进行数据组的统计、运算和数据存取等操作

# <font face = "微软雅黑" color = blue size = 6>实验背景</font>

## NumPy（Numerical Python） 是Python语言的一个扩展程序库，支持大量的维度数组与矩阵运算，此外也针对数组运算提供大量的数学函数库，有助于学生学习数据科学或者机器学习。

# <font face = "微软雅黑" color = blue size = 6>实验原理</font>

## NumPy是一个运行速度非常快的数学库，主要用于数组计算，包含：

### 1、一个强大的N维数组对象ndarray

### 2、广播功能函数

### 3、整合C/C++/Fortran代码的工具

### 4、线性代数、傅里叶变换、随机数生成等功能实验环境

# <font face = "微软雅黑" color = blue size = 6>实验环境</font>

## Windows操作系统 64bits
## python 3.6以上
## numpy1.17以上

# <font face = "微软雅黑" color = blue size = 6>实验步骤</font>

## 2 不同维度数据的表示

## 2.1 一维数据的表示

In [3]:
# 列表
[1,2,'a',4]

[1, 2, 'a', 4]

In [6]:
# 数组
# 安装numpy
!pip install  numpy
import numpy as np #引入numpy库
np.array([1,'a',3,4]) #使用numpy创建一维数组
#数组的元素类型必须是一致的

Requirement already satisfied: numpy in d:\programfiles\anaconda3\lib\site-packages (1.21.0)

array(['1', 'a', '3', '4'], dtype='<U11')

In [7]:
# 集合
set([1,'a',3,4]) #集合的元素唯一且无序

{1, 3, 4, 'a'}

In [8]:
# 元组
tuple([1,'a',3,4])#元组的元素不可变

(1, 'a', 3, 4)

## 2.2 二维数据的表示

In [9]:
# 用列表存储2维数据
[[1,2,3],['a','b','c']]

[[1, 2, 3], ['a', 'b', 'c']]

In [10]:
# 用数组存储二维数据
np.array([[1,2,3],['a','b','c']])

array([['1', '2', '3'],
       ['a', 'b', 'c']], dtype='<U11')

In [11]:
# 列表或者数组存储的二维数据可以转换成表格形式
!pip install  pandas
import pandas as pd
pd.DataFrame([[1,2,3],['a','b','c']],columns=['A','B','C'])

Requirement already satisfied: pandas in d:\programfiles\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in d:\programfiles\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\programfiles\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in d:\programfiles\anaconda3\lib\site-packages (from pandas) (1.21.0)
Requirement already satisfied: six>=1.5 in d:\programfiles\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

   A  B  C
0  1  2  3
1  a  b  c

In [12]:
pd.DataFrame(np.array([[1,2,3],['a','b','c']]),columns=['A','B','C'])

   A  B  C
0  1  2  3
1  a  b  c

## 2.3 三维数据的表示

In [13]:
# 用列表存储多维数组
a = [[[1,2],[3,4]],[[5,6],[7,8]]]
a[0]

[[1, 2], [3, 4]]

In [14]:
pd.DataFrame(a)

        0       1
0  [1, 2]  [3, 4]
1  [5, 6]  [7, 8]

In [15]:
pd.DataFrame(a[0])

   0  1
0  1  2
1  3  4

## 3 为什么要使用Numpy

## 3.1 Numpy的ndarray具有广播功能

In [16]:
# 导入numpy
import numpy as np
# 查看版本
np.__version__

'1.21.0'

In [17]:
np.array?

In [18]:
# 用列表存储数据，并计算这组数据的平方
a = [1,2,3,4]
c = []
for i in a:
    c.append(i**2)
print(c)

[1, 4, 9, 16]

In [19]:
# 用ndarray类型来存储，计算显然更加简单
#ndarray具有广播功能
a = np.array([1,2,3,4])
a**2

array([ 1,  4,  9, 16], dtype=int32)

## 3.2 Numpy数组的性能比Python原生数据类型高

In [20]:
# Python原生数据类型与numpy数组性能对比
def add(n):
    a = []
    b = []
    c = []
    for i in range(n):
        a.append(i**2)
        b.append(i+3)
        c.append(a[i]+b[i])
    return c

def np_add(n):
    a = np.arange(n)**2
    b = np.arange(n)+3
    c = a+b

In [21]:
N = 1000000

In [22]:
# 为了比较性能，使用ipython的“魔法函数”timeit
%timeit add(N)

470 ms ± 5.81 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [23]:
%timeit np_add(N)
# 使用numpy运行时间只有使用列表版本的70分之一

5.21 ms ± 57.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
# 搜索某个具体的函数的文档，用法示例
np.info(np.array)

array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
      like=None)

Create an array.

Parameters
----------
object : array_like
    An array, any object exposing the array interface, an object whose
    __array__ method returns an array, or any (nested) sequence.
dtype : data-type, optional
    The desired data-type for the array.  If not given, then the type will
    be determined as the minimum type required to hold the objects in the
    sequence.
copy : bool, optional
    If true (default), then the object is copied.  Otherwise, a copy will
    only be made if __array__ returns a copy, if obj is a nested sequence,
    or if a copy is needed to satisfy any of the other requirements
    (`dtype`, `order`, etc.).
order : {'K', 'A', 'C', 'F'}, optional
    Specify the memory layout of the array. If object is not an array, the
    newly created array will be in C order (row major) unless 'F' is
    specified, in which case it will be in Fortran order (column major).
    If object is an array the following holds.

    ===== ========= ===================================================
    order  no copy                     copy=True
    ===== ========= ===================================================
    'K'   unchanged F & C order preserved, otherwise most similar order
    'A'   unchanged F order if input is F and not C, otherwise C order
    'C'   C order   C order
    'F'   F order   F order
    ===== ========= ===================================================

    When ``copy=False`` and a copy is made for other reasons, the result is
    the same as if ``copy=True``, with some exceptions for 'A', see the
    Notes section. The default order is 'K'.
subok : bool, optional
    If True, then sub-classes will be passed-through, otherwise
    the returned array will be forced to be a base-class array (default).
ndmin : int, optional
    Specifies the minimum number of dimensions that the resulting
    array should have.  Ones will be pre-pended to the shape as
    needed to meet this requirement.
like : array_like
    Reference object to allow the creation of arrays which are not
    NumPy arrays. If an array-like passed in as ``like`` supports
    the ``__array_function__`` protocol, the result will be defined
    by it. In this case, it ensures the creation of an array object
    compatible with that passed in via this argument.

    .. versionadded:: 1.20.0

Returns
-------
out : ndarray
    An array object satisfying the specified requirements.

See Also
--------
empty_like : Return an empty array with shape and type of input.
ones_like : Return an array of ones with shape and type of input.
zeros_like : Return an array of zeros with shape and type of input.
full_like : Return a new array with shape of input filled with value.
empty : Return a new uninitialized array.
ones : Return a new array setting values to one.
zeros : Return a new array setting values to zero.
full : Return a new array of given shape filled with value.


Notes
-----
When order is 'A' and `object` is an array in neither 'C' nor 'F' order,
and a copy is forced by a change in dtype, then the order of the result is
not necessarily 'C' as expected. This is likely a bug.

Examples
--------
>>> np.array([1, 2, 3])
array([1, 2, 3])

Upcasting:

>>> np.array([1, 2, 3.0])
array([ 1.,  2.,  3.])

More than one dimension:

>>> np.array([[1, 2], [3, 4]])
array([[1, 2],
       [3, 4]])

Minimum dimensions 2:

>>> np.array([1, 2, 3], ndmin=2)
array([[1, 2, 3]])

Type provided:

>>> np.array([1, 2, 3], dtype=complex)
array([ 1.+0.j,  2.+0.j,  3.+0.j])

Data-type consisting of more than one element:

>>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
>>> x['a']
array([1, 3])

Creating an array from sub-classes:

>>> np.array(np.mat('1 2; 3 4'))
array([[1, 2],
       [3, 4]])

>>> np.array(np.mat('1 2; 3 4'), subok=True)
matrix([[1, 2],
        [3, 4]])

## 4 ndarray的属性和基本操作

## 4.1 ndarray的基本属性

In [25]:
# 创建一个numpy.ndarray对象
a = np.array([[1,2,3],[4,5,6]])
# ndarray对象的别名是array
type(a)

numpy.ndarray

In [26]:
# 数据
a

array([[1, 2, 3],
       [4, 5, 6]])

In [27]:
# 数据维度
a.shape

(2, 3)

In [28]:
# 元素个数
a.size

6

In [29]:
# 数据的维度
a.ndim

2

In [30]:
# 数据类型
a.dtype

dtype('int32')

In [31]:
# 每个元素的大小，以字节为单位
a.itemsize

4

In [32]:
# 访问数组的元素
a[0][0]

1

## 4.2 ndarray元素类型

In [34]:
# 数据类型不同，会自动向下进行转换
b = np.array([[1,2,3,4],['a','b','c','d']])

In [35]:
# 数据类型
b

array([['1', '2', '3', '4'],
       ['a', 'b', 'c', 'd']], dtype='<U11')

In [36]:
b.size

8

In [37]:
# 不同维度之间长短不一，生成的数组为非同质的ndarray对象
c = np.array([[1,2,3,4],['a','b','c','d'],[5,6,7]])

C:\Users\lenov\AppData\Local\Temp\ipykernel_16172\1609679914.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  c = np.array([[1,2,3,4],['a','b','c','d'],[5,6,7]])

In [38]:
# 数据类型
c

array([list([1, 2, 3, 4]), list(['a', 'b', 'c', 'd']), list([5, 6, 7])],
      dtype=object)

In [39]:
c.size

3

## 4.3 创建ndarray的方式

In [40]:
# 从列表创建
np.array([[1,2,3],[4,5,6]],dtype=np.float32)

array([[1., 2., 3.],
       [4., 5., 6.]], dtype=float32)

In [41]:
#当np.array()不指定dtype时，NumPy将根据数据情况自动关联一个dtype类型
# 从Python的list创建数组，不指定元素类型
array_01 = np.array([[1,2,3],[4,5,6]])
array_01.dtype

dtype('int32')

In [42]:
# 从元组创建
np.array([(1,2),(2,3)])

array([[1, 2],
       [2, 3]])

In [43]:
# 从列表和元组创建
np.array([[1,2,3,4],(4,5,6,7)])

array([[1, 2, 3, 4],
       [4, 5, 6, 7]])

In [44]:
# 类似range()函数，返回ndarray类型，元素从0到n‐1
np.arange(5)

array([0, 1, 2, 3, 4])

In [45]:
# 根据shape生成一个全1数组，shape是元组类型
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [46]:
# 根据shape生成一个全0数组，shape是元组类型
np.zeros((2,3,4))

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [47]:
# 根据shape生成一个数组，每个元素值都是val
np.full((2,3),99)

array([[99, 99, 99],
       [99, 99, 99]])

In [48]:
# 创建一个正方的n*n单位矩阵，对角线为1，其余为0
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [49]:
# 生成一个新的2维数组
array_03 = np.array([[1,2,3,4],[4,5,6,7],[7,8,9,0]])
array_03

array([[1, 2, 3, 4],
       [4, 5, 6, 7],
       [7, 8, 9, 0]])

In [50]:
# 根据数组array_03的形状生成一个全1数组
np.ones_like(array_03)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [51]:
# 根据数组a的形状生成一个全0数组
np.zeros_like(array_03)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [52]:
# 根据数组a的形状生成一个数组，每个元素值都是val
np.full_like(array_03,99)

array([[99, 99, 99, 99],
       [99, 99, 99, 99],
       [99, 99, 99, 99]])

In [53]:
# 根据起止数据等间距地填充数据，形成数组
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [54]:
# 用于连接的两个组数的对应的shape应该相同
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6]])
# 纵向连接 # 将两个或多个数组合并成一个新的数组
np.concatenate((a, b), axis=0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [55]:
# 两个数组的shape
print(a.shape,b.shape)

(2, 2) (1, 2)

In [56]:
# 对数组b进行转置
b.T

array([[5],
       [6]])

In [58]:
b.T.shape

(2, 1)

In [59]:
# 转置后，在进行横向连接
np.concatenate((a,b.T),axis = 1)

array([[1, 2, 5],
       [3, 4, 6]])

## 4 .4 ndarray对象的变换

In [60]:
# 创建一个新的数组
a = np.linspace(1,24,24,dtype=np.int32)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [61]:
# ndarray数组的维度变换
# 不改变数组元素，返回一个shape形状的数组，原数组a不变
b = a.reshape(4,6)
b

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [62]:
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [63]:
# 改变数组的shape，且修改原数组
a.resize(4,6)
a

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [64]:
# 将数组n个维度中两个维度进行调换
a.swapaxes(1,0)

array([[ 1,  7, 13, 19],
       [ 2,  8, 14, 20],
       [ 3,  9, 15, 21],
       [ 4, 10, 16, 22],
       [ 5, 11, 17, 23],
       [ 6, 12, 18, 24]])

In [65]:
# 把数组的维度降低，返回折叠后的一维数组，原数组不变
c = a.flatten()
c

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [66]:
a

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [67]:
# 创建一个新的数组
b = np.linspace(1,9,9)
b.resize(3,3)
b

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [68]:
b.dtype

dtype('float64')

In [69]:
# astype()方法一定会创建新的数组(原始数据的一个拷贝)，即使两个类型一致
d = b.astype(np.int16)
d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int16)

In [70]:
b

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [71]:
# 转换成list类型
b.tolist()

[[1.0, 2.0, 3.0], [4.0, 5.0, 6.0], [7.0, 8.0, 9.0]]

## 4.5 ndarray对象的操作

In [74]:
c = np.linspace(1,24,24,dtype=int)
c.resize(2,3,4)
c

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [75]:
# 索引:获取数组中特定位置元素
c[0]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [76]:
c[0][0]

array([1, 2, 3, 4])

In [77]:
# 多维数组索引方式一
c[0][0][0]

1

In [78]:
# 多维数组索引方式二
c[0,0,0]

1

In [79]:
# 切片:获取数组元素子集
c[0][1:3][1:3]

array([[ 9, 10, 11, 12]])

In [80]:
# 切片:获取数组元素子集
c[0][1:3][1:3]

array([[ 9, 10, 11, 12]])

In [81]:
c[0,1:3,1:3]

array([[ 6,  7],
       [10, 11]])

In [82]:
# 使用步长跳跃切片
c[0,1,::2]

array([5, 7])

## 5 Numpy的函数与数组运算

In [83]:
import numpy as np

## 5.1 数组与标量之间的运算

In [84]:
a = np.arange(1,10).reshape(3,3)
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [85]:
a*10

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [86]:
a**2

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]], dtype=int32)

In [87]:
a - 9

array([[-8, -7, -6],
       [-5, -4, -3],
       [-2, -1,  0]])

In [88]:
# 数组的重要特性，过滤值
a > 5

array([[False, False, False],
       [False, False,  True],
       [ True,  True,  True]])

In [89]:
# 使用多条件过滤,注意运算优先级
a[(a>5) & (a<8)]

array([6, 7])

## 5.2 对数组的元素进行运算

In [90]:
b = np.arange(1,21).reshape(4,5)
b

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [91]:
# 计算数组各元素的绝对值
np.abs(b)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [92]:
# 计算数组各元素的平方根
np.sqrt(b)

array([[1.        , 1.41421356, 1.73205081, 2.        , 2.23606798],
       [2.44948974, 2.64575131, 2.82842712, 3.        , 3.16227766],
       [3.31662479, 3.46410162, 3.60555128, 3.74165739, 3.87298335],
       [4.        , 4.12310563, 4.24264069, 4.35889894, 4.47213595]])

In [93]:
# 计算数组各元素的平方
np.square(b)

array([[  1,   4,   9,  16,  25],
       [ 36,  49,  64,  81, 100],
       [121, 144, 169, 196, 225],
       [256, 289, 324, 361, 400]], dtype=int32)

In [94]:
# 计算数组各元素的自然对数、10底对数和2底对数
print(np.log(b))
print(np.log10(b))
print(np.log2(b))

[[0.         0.69314718 1.09861229 1.38629436 1.60943791]
 [1.79175947 1.94591015 2.07944154 2.19722458 2.30258509]
 [2.39789527 2.48490665 2.56494936 2.63905733 2.7080502 ]
 [2.77258872 2.83321334 2.89037176 2.94443898 2.99573227]]
[[0.         0.30103    0.47712125 0.60205999 0.69897   ]
 [0.77815125 0.84509804 0.90308999 0.95424251 1.        ]
 [1.04139269 1.07918125 1.11394335 1.14612804 1.17609126]
 [1.20411998 1.23044892 1.25527251 1.2787536  1.30103   ]]
[[0.         1.         1.5849625  2.         2.32192809]
 [2.5849625  2.80735492 3.         3.169925   3.32192809]
 [3.45943162 3.5849625  3.70043972 3.80735492 3.9068906 ]
 [4.         4.08746284 4.169925   4.24792751 4.32192809]]

In [95]:
c = np.log(b)
c

array([[0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791],
       [1.79175947, 1.94591015, 2.07944154, 2.19722458, 2.30258509],
       [2.39789527, 2.48490665, 2.56494936, 2.63905733, 2.7080502 ],
       [2.77258872, 2.83321334, 2.89037176, 2.94443898, 2.99573227]])

In [96]:
# 计算数组各元素的ceiling值,向上取整
np.ceil(c)

array([[0., 1., 2., 2., 2.],
       [2., 2., 3., 3., 3.],
       [3., 3., 3., 3., 3.],
       [3., 3., 3., 3., 3.]])

In [98]:
# 计算数组各元素的floor值，向下取整
np.floor(c)

array([[0., 0., 1., 1., 1.],
       [1., 1., 2., 2., 2.],
       [2., 2., 2., 2., 2.],
       [2., 2., 2., 2., 2.]])

In [99]:
# 计算数组各元素的四舍五入值
np.rint(c)

array([[0., 1., 1., 1., 2.],
       [2., 2., 2., 2., 2.],
       [2., 2., 3., 3., 3.],
       [3., 3., 3., 3., 3.]])

In [100]:
# 将数组各元素的小数和整数部分以两个独立数组形式返回
np.modf(c)

(array([[0.        , 0.69314718, 0.09861229, 0.38629436, 0.60943791],
        [0.79175947, 0.94591015, 0.07944154, 0.19722458, 0.30258509],
        [0.39789527, 0.48490665, 0.56494936, 0.63905733, 0.7080502 ],
        [0.77258872, 0.83321334, 0.89037176, 0.94443898, 0.99573227]]),
 array([[0., 0., 1., 1., 1.],
        [1., 1., 2., 2., 2.],
        [2., 2., 2., 2., 2.],
        [2., 2., 2., 2., 2.]]))

In [101]:
# 三角函数
np.cos(c)

array([[ 1.        ,  0.7692389 ,  0.45483242,  0.18345697, -0.03863197],
       [-0.21916945, -0.36637844, -0.48699442, -0.58625493, -0.66820151],
       [-0.73597042, -0.79201976, -0.83829749, -0.87636424, -0.9074833 ],
       [-0.93268708, -0.95282672, -0.96860965, -0.98062808, -0.98938122]])

## 5.3 数组之间的运算

In [102]:
a = np.arange(1,13).reshape(3,4)
b = np.arange(-12,0).reshape(3,4)

In [103]:
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [104]:
b

array([[-12, -11, -10,  -9],
       [ -8,  -7,  -6,  -5],
       [ -4,  -3,  -2,  -1]])

In [105]:
a + b

array([[-11,  -9,  -7,  -5],
       [ -3,  -1,   1,   3],
       [  5,   7,   9,  11]])

In [107]:
a > b

array([[ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [108]:
a * b

array([[-12, -22, -30, -36],
       [-40, -42, -42, -40],
       [-36, -30, -22, -12]])

In [109]:
a / b

array([[ -0.08333333,  -0.18181818,  -0.3       ,  -0.44444444],
       [ -0.625     ,  -0.85714286,  -1.16666667,  -1.6       ],
       [ -2.25      ,  -3.33333333,  -5.5       , -12.        ]])

## 5.4 统计函数

In [110]:
a = np.arange(1,13).reshape(3,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [111]:
# 根据给定轴axis计算数组a相关元素之和，axis为整数或元组
np.sum(a,axis=(0,1))

78

In [112]:
# 求每列的和
np.sum(a,axis=0)

array([15, 18, 21, 24])

In [113]:
# 求每行的和
np.sum(a,axis=1)

array([10, 26, 42])

In [114]:
np.sum(a)

78

In [115]:
# 部分函数有两种调用方法
a.min()

1

In [116]:
np.min(a)

1

In [117]:
# ndarray对象没有实现自己的median方法
np.median(a)

6.5

In [118]:
# 数组元素个数
len(a)

3

## 5.5 随机函数

In [119]:
# 生成指定shape的[0,1]分布随机数
np.random.rand(2,3,4)

array([[[0.97058505, 0.73299809, 0.67604498, 0.35567256],
        [0.45652808, 0.39159869, 0.58132268, 0.20614145],
        [0.09905721, 0.92889331, 0.12560985, 0.39527763]],

       [[0.36693213, 0.87801765, 0.96013258, 0.02674043],
        [0.12682856, 0.08464953, 0.20074725, 0.66677544],
        [0.97763866, 0.63743047, 0.79293715, 0.19814049]]])

In [120]:
# 生成指定shape的标准正态分布随机数
np.random.randn(2,3,4)

array([[[-0.34969567,  1.64496318, -0.73562208,  1.04001899],
        [ 1.02993124, -0.80925134,  1.84045587, -0.23661245],
        [ 0.06606951, -1.47299036, -0.3075134 , -0.00766775]],

       [[-1.09578191, -2.02553424, -0.77968658,  0.39268505],
        [-0.29097798, -0.70571983, -1.23127211,  0.02013144],
        [ 0.70139961, -1.44572405, -1.2003624 , -0.04121024]]])

In [121]:
# 生成指定shape的标准正态分布随机数
np.random.randn(2,3,4)

array([[[ 0.12743096, -1.2676465 , -2.66469861, -0.1768854 ],
        [ 0.43734167, -0.60568363, -0.22000602,  1.36353866],
        [-1.23809086, -1.24180415,  0.20716866, -0.99418395]],

       [[ 1.02715744,  1.0866792 ,  0.7337805 , -0.941674  ],
        [-0.14395018, -1.2766553 ,  1.45736414,  1.13743944],
        [-0.1906304 ,  0.37730205, -1.07521331,  0.24573114]]])

In [123]:
# 随机数种子
np.random.seed(10)
#为什么设定随机数种子？
#计算机生成的随机数是伪随机数，在多次生成随机数时，只要保证随机数种子一致，即可生成一样的随机数

In [124]:
# uniform(low=0.0, high=1.0, size=None)均匀分布
np.random.uniform(size =10)

array([0.77132064, 0.02075195, 0.63364823, 0.74880388, 0.49850701,
       0.22479665, 0.19806286, 0.76053071, 0.16911084, 0.08833981])

In [125]:
# normal(loc=0.0, scale=1.0, size=None)正态分布
np.random.normal(10,1,20)

array([10.26551159, 10.10854853, 10.00429143,  9.82539979, 10.43302619,
       11.20303737,  9.03493433, 11.02827408, 10.22863013, 10.44513761,
        8.86339779, 10.13513688, 11.484537  ,  8.92019511,  8.02227172,
        8.2566277 , 10.26607016, 12.38496733, 11.12369125, 11.67262221])

In [126]:
# poisson(lam=1.0, size=None)泊松分布
np.random.poisson(size = 10)

array([3, 0, 0, 0, 1, 1, 1, 1, 1, 1])

In [127]:
a = np.arange(1,13).reshape(3,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [128]:
# 根据数组a的第1轴进行随排列，改变数组a
np.random.shuffle(a)
a

array([[ 9, 10, 11, 12],
       [ 5,  6,  7,  8],
       [ 1,  2,  3,  4]])

In [129]:
# 根据数组a的第1轴产生一个新的乱序数组，不改变数组a
np.random.permutation(a)
a

array([[ 9, 10, 11, 12],
       [ 5,  6,  7,  8],
       [ 1,  2,  3,  4]])

In [130]:
b = np.arange(100)

In [131]:
# 从一维数组b中随机抽取size个数形成新数组 replace表示是否可以重用元素，默认为False
np.random.choice(b,size=10,replace=True)

array([85, 22, 11, 12, 92, 96, 62, 57, 79, 42])

## 6 Numpy数据的存取

## 6.1 csv数据文件的存取

In [132]:
a = np.arange(1,82).reshape(9,9)
a

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24, 25, 26, 27],
       [28, 29, 30, 31, 32, 33, 34, 35, 36],
       [37, 38, 39, 40, 41, 42, 43, 44, 45],
       [46, 47, 48, 49, 50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59, 60, 61, 62, 63],
       [64, 65, 66, 67, 68, 69, 70, 71, 72],
       [73, 74, 75, 76, 77, 78, 79, 80, 81]])

In [133]:
# 保存到本地
np.savetxt('a.csv',a,fmt ='%d',delimiter=',')
#csv文件的局限性:CSV只能有效存储一维和二维数组

In [136]:
# 载入刚刚保存的csv文件
np.loadtxt('a.csv',dtype=float,delimiter=',')

array([[ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.],
       [10., 11., 12., 13., 14., 15., 16., 17., 18.],
       [19., 20., 21., 22., 23., 24., 25., 26., 27.],
       [28., 29., 30., 31., 32., 33., 34., 35., 36.],
       [37., 38., 39., 40., 41., 42., 43., 44., 45.],
       [46., 47., 48., 49., 50., 51., 52., 53., 54.],
       [55., 56., 57., 58., 59., 60., 61., 62., 63.],
       [64., 65., 66., 67., 68., 69., 70., 71., 72.],
       [73., 74., 75., 76., 77., 78., 79., 80., 81.]])

In [137]:
b = np.arange(1,25).reshape(4,6)
b

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [138]:
# 保存到本地
np.savetxt('b.csv',b,fmt ='%d',delimiter=',')

## 6.2 多维度数据的存取

In [139]:
# 存储多维数据
b.tofile('b.dat',sep=',',format='%d')

In [141]:
# 读取多维数据,并按照原来的维度还原
np.fromfile('b.dat',dtype=float,count=-1,sep=',').reshape(2,3,4)
# 注意：该方法需要读取时知道存入文件时数组的维度和元素类型 .tofile()和np.fromfile()需要配合使用
#可以通过元数据文件来存储额外信息

array([[[ 1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.],
        [ 9., 10., 11., 12.]],

       [[13., 14., 15., 16.],
        [17., 18., 19., 20.],
        [21., 22., 23., 24.]]])

## 6.3 NumPy的便捷文件存取

In [142]:
# 存储
np.save('b.npy',b)

In [143]:
# 读入
np.load('b.npy')

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

# <font face = "微软雅黑" color = blue size = 6>实验总结</font>

## 在实验中，通过对Numpy各种基本操作的实践练习，加深了学生对Numpy数据结构及其功能的理解，为以后学习和工作中Numpy的使用提供指南。