- 原数数据中会存在缺失值（空值）
- 重复值
- 异常值

处理丢失数据
- 有两种丢失数据：
    - None
    - np.nan(NaN)
    
    
- 两种丢失数据的区别

In [1]:
import numpy as np
type(None) #None对象类型

NoneType

In [5]:
type(np.nan) #NAN浮点型

float

- 为什么在数据分析中需要用到的是浮点类型的空而不是对象类型
    - 数据分析中常常使用某些形式的运算来处理原始数据，如果原数据中的空值为NAN形式，则不会干扰或者中断运算
    - NAN可以参加运算的
    - None是不可以参与运算

- 在pandas中如果遇到了None形式的空值则pandas会将其强转成NAN的形式

In [8]:
np.nan + 1

nan

- pandas处理空值操作
    - isnull
    - notnull
    - any
    - all
    - dropna
    - fillna

In [9]:
import pandas as pd
from pandas import DataFrame,Series

In [15]:
#伪造一组数据(存在空值)
df = DataFrame(data=np.random.randint(0,100,size=(8,6)))
df

    0   1   2   3   4   5
0  51  13  34  99  36   1
1  90  42  54  44  48  60
2  48  74  25  50   1  15
3  29  52   1  92  83  56
4  96  85  77   7  78  19
5  40  87  28  50  24  82
6  57  69  94  68  92  32
7  97   8  12  16  20   7